<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Features -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="osmdroid.userAgentValue"
        android:value="sangam01" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sangam01"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ImageCompareActivity"
            android:exported="false" />
        <activity
            android:name=".MemberAdapter"
            android:exported="false" /> <!-- Activities -->
        <meta-data
            android:name="osmdroid.userAgentValue"
            android:value="sangam01" />

        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".GroupActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" /> <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Maps API Key (Move to a safer location!) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
    </application>

</manifest>
